.element__like {
    width: 22px;
    height: 19px;
    background-color: #FFFFFF;
    border: none;
    margin: 0px;
    background-image: url(../../../images/Like.svg);
    background-size: contain;
}

    .element__like:hover {
        opacity: 0.6;
    }
