.popup__container_image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    padding: 0;
}
