.popup__exit {
    margin-top: 15px;
    position: absolute;
    top: -32px;
    right: -32px;
    width: 32px;
    height: 32px;
    border: none;
    margin: 0px;
    background-image: url(../../../images/CloseIcon.svg);
    background-color: rgba(0, 0, 0, 0);
    background-size: contain;
}

@media (max-width: 725px) {
    .popup__exit {
        width: 20px;
        height: 20px;
        top: -35px;
        right: 0px;
    }
}

.popup__exit:hover {
    opacity: 0.6;
}
